<footer>
    <div class="container">
        <div class="row footer-reg">
            <h4 class="col-md-5">LOGO</h4>
            <div class="col-md-7">
                <div class="row">
                    <button class="col-md-5">đăng ký làm tài xế</button>
                    <button class="col-md-5 offset-md-1">đăng ký chủ xe</button>

                </div>
            </div>
        </div>
        <!--end footer-reg-->
        <hr>
        <div class="row contact">
            <div class="col-md-6 ">
                <p class="contact-addr">Địa chỉ liên hệ</p>
                <p>
                    <img/>
                    <span>Head Office: 09th FI. No. 459 Dai Tu St, Hoang Mai Dist, Honoi City, Vietnam</span>
                </p>
                <p>
                    <img/>
                    <span>Phone: (+84)93 545 9566</span>
                </p>
                <p>
                    <img/>
                    <span>Email: info@company.com</span>
                </p>
                <p>
                    <img>
                    <span>Website: www.company.com</span>
                </p>
            </div>
            <div class="col-md-2  offset-md-1">
                <p class="contact-addr">Newsroom Menu</p>
                <p>
                    <span>News</span>
                </p>
                <p>
                    <span>Company Info</span>
                </p>
                <p>
                    <span>Leadership</span>
                </p>
                <p>
                    <span>Media Assets</span>
                </p>
            </div>
            <div class="col-md-2">
                <p class="contact-addr">Company Link</p>
                <p>
                    <span>Sing up to Ride</span>
                </p>
                <p>
                    <span>Sing up to Drive</span>
                </p>
                <p>
                    <span>Sing up to Boss</span>
                </p>
                <p>
                    <span>Center Support</span>
                </p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <span class="col-md-4">&#9400; 2018 Company Technologies Inc.</span>
            <span class="col-md-1 offset-md-3">Privacy Policy</span>
            <span class="col-md-1 offset-md-3">Terns and Conditions</span>
        </div>
    </div>
</footer>