.menu-top {
    padding: 10px;
    position: relative;
}

.menu-top {
    font-size: 15px;
    font-weight: 600;
}

.banner {
    /* width: 1800px; */
    background-color: #5f6c7d;
    color: white;
    font-size: 30px;
    text-align: center;
    max-width: 1800px;
    height: 250px;
    margin-bottom: 30px;
}

.banner p {
    vertical-align: middle;
    padding-top: 120px;
}