<div class="container">
    <div class="row menu-top">
        <h1 class="col-md-2">Logo</h1>
        <div class="col-md-5 offset-md-5 menu">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Dành cho chủ xe</a>
                    <a class="nav-item nav-link " href="#1">Dành cho tài xế<span class="sr-only">(current)</span></a>
                </div>

            </nav>
        </div>
    </div>
</div>
<div class="banner">
    <p> Banner 1800x250</p>
</div>